.contain-category-left {
    width: 20%;
    height: auto;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    .list-category{
        width: 95%;
        // border:1px solid red;
        .list-category-header{
            cursor: pointer;
            color: black;
            font-size: 1rem;
            font-weight: bold;
            &:hover{
                text-decoration: none;
            }
        }
        .list-category-body{
            .list-category-body-tittle{
                color:red;
                font-weight: bold;
                font-size:13px;
                 &:hover{
                    text-decoration: none;
            }
        }
            ul{
                 padding-left: 1rem;
                li{
                    list-style: none;
                    a{
                        line-height: 2;
                        font-size: 15px;
                        color: rgba(0,0,0,.8);
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    
                }
            }
            .list-category-dropdown{
                padding-left: 1rem;
                .list-category-dropdown-header{
                    font-size: 15px;
                }
                .list-category-dropdown-body{
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                }
               
            }
        }
    }
    .search-fillter{
        height: auto;
        width: 95%;
        border: 1px solid pink;
        .search-fillter-header{
            font-size: 1rem;
            margin-top: 1rem;
            line-height: 5px;
            color:rgba(0,0,0,.8);
        }
        .search-fillter-location{
            margin-top: 1rem;
            margin-left:15px;
            font-size: 15px;;
            color: rgba(0,0,0,.8);
            .search-fillter-location-header{
            }
            .search-fillter-location-body{
                .checkbox-location{
                    line-height: 2.5rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
                span{
                    margin-left: 10px;
                }
            }
        }
        // =================================
        .unit-tranport,.servicePromotion{
            margin-top: 1rem;
            margin-left:15px;
            font-size: 15px;
            .unit-tranport-body,.servicePromotion-body{
                .checkbox-unit-tranport,.checkbox-servicePromotion{
                    line-height: 2.5rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
                span{
                    margin-left: 10px;
                }
            }
        }
        .price-distance{
            .price-distance-header{
                margin-left:15px;
                font-size: 15px;
            }
            .price-distance-body{
                display: block;
                .character{
                    margin-left: 0.8rem;
                }
                .price-distance-input{
                    width: 5rem;
                    height: 1.875rem;
                    background-color: #fff;
                    border: 1px solid rgba(0,0,0,.26);
                    margin-left: 0.8rem;
                }
            }
            .price-distance-submit{
                width: 11.8rem;
                height: 1.875rem;
                margin-left: 0.8rem;
                margin-top: 0.8rem;
                border: none;
                background-color: #ee4d2d;
                color: white;
                font-size: 0.8rem;
                &:focus{
                    border: none;
                }
            }
        }
        .typeShop, .activeProduct{
            margin-top: 1rem;
            margin-left:15px;
            font-size: 15px;
            .typeShop-body,.activeProduct-body{
                .checkbox-typeShop,.checkbox-activeProduct{
                    line-height: 2.5rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
                span{
                    margin-left: 10px;
                    
                }
            }
        }
        .rate{
            .rate-header{
                font-size: 1rem;
                margin-left: 1rem;
            }
        }
    }
  }